<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:insert="title">Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-white">E-Commerce Dashboard</div>
        <div class="list-group list-group-flush">
            <a href="/dashboard" class="list-group-item list-group-item-action bg-dark text-white">Dashboard</a>
            <a href="/people" class="list-group-item list-group-item-action bg-dark text-white">People</a>
            <a href="/products" class="list-group-item list-group-item-action bg-dark text-white">Products</a>
            <a href="/sales" class="list-group-item list-group-item-action bg-dark text-white">Sales</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid" th:insert="content"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>